// secret.h or my.secret file is ignored by git

#define MYSSID "my SSID name"
#define SSIDPASSWD "my SSID password"
#define MYWUID "MY WU ID"
#define WUPASSWD "My WU password"

//const char* ssid     = MYSSID; 
//const char* password = SSIDPASSWD;

//char ID [] = MYWUID;
//char PASSWORD [] = WUPASSWD;
